<html>
	<head>
		<title>Flask Input and Output</title>
		<link rel="stylesheet"  type="text/css" href="/static/css/style.css">
	</head>

	<body>
		<h1>Input the following information</h1>
		<form method="post">
			<label id="lblperiod1">Enter your 1st period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd1">
			<input type="number" name="txtpd1avg">
			<input type="text" name="txtpd1teacher"> 
			<input type="text" name="txtpd1room"> <br>
			<label id="lblperiod2">Enter your 2nd period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd2">
			<input type="number" name="txtpd2avg">
			<input type="text" name="txtpd2teacher"> 
			<input type="text" name="txtpd2room"> <br>
			<label id="lblperiod3">Enter your 3rd period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd3">
			<input type="number" name="txtpd3avg">
			<input type="text" name="txtpd3teacher">
			<input type="text" name="txtpd3room"> <br>
			<label id="lblperiod4">Enter your 4th period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd4">
			<input type="number" name="txtpd4avg">
			<input type="text" name="txtpd4teacher">
			<input type="text" name="txtpd4room"> <br>
			<label id="lblperiod5">Enter your 5th period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd5">
			<input type="number" name="txtpd5avg">
			<input type="text" name="txtpd5teacher">
			<input type="text" name="txtpd5room"> <br>
			<label id="lblperiod6">Enter your 6th period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd6">
			<input type="number" name="txtpd6avg">
			<input type="text" name="txtpd6teacher"> 
			<input type="text" name="txtpd6room"> <br>
			<label id="lblperiod7">Enter your 7th period name, average, teacher, and room number:</label>
			<input type="text" name="txtpd7">
			<input type="number" name="txtpd7avg">
			<input type="text" name="txtpd7teacher"> 
			<input type="text" name="txtpd7room"> <br>
			<label id="lblperiod8">Enter your 8th period name, average, teacher, and room number:</label>
			<input type="text" id="txt8" name="txtpd8">
			<input type="number" name="txtpd8avg">
			<input type="text" name="txtpd8teacher"> 
			<input type="text" name="txtpd8room"> <br>
			<button type="submit">Submit</button>
		</form>
	</body
</html>