<html>
	<head>
		<title>Test</title>
	</head>
	<body>
	<h1>Welcome user {{user}}!</h1>
	<form method="post">
		<label id="lblFname">What is your first name?</label>
		<input id="txtFname" name="txtFname"> <br>
		<label id="lblLname">What is your last name?</label>
		<input id="txtLname" name="txtLname"> <br>
		<label id="lblMname">What is your middle name?</label>
		<input id="txtMname" name="txtMname"> <br>
		<label id="lblSchool">What school do you go to?</label>
		<input id="txtSchool" name="txtSchool"> <br>
		<label id="lblAge">What is your age?</label>
		<input id="txtAge" name="txtAge"> <br>
		
		<button type="submit" id="PerSubButton">Submit</button>
	</form>
	</body>
</html>