<html>
	<head>
		<title>Page 2</title>
	</head>
	<body>
		<h1>
		{{Name}} {{Middle}} {{Last}}
		- Mathematics
		</h1>
		<div id="calc1">
			<button type="button" name="button" id="btnone" value="add">+</button>
			<button type="button" name="button" id="btntwo" value="minus">-</button>
			<button type="button" name="button" id="btnthree" value="times">*</button>
			<button type="button" name="button" id="btnthree" value="divide">/</button>
		</div>
		<div id="calc2">
			<button type="button" name="button" id="btnseven" value="7">7</button>
			<button type="button" name="button" id="btneight" value="8">8</button>
			<button type="button" name="button" id="btnnine" value="9">9</button>
		</div>
		<div id="calc3">
			<button type="button" name="button" id="btnfour" value="4">4</button>
			<button type="button" name="button" id="btnfive" value="5">5</button>
			<button type="button" name="button" id="btnsix" value="6">6</button>
		</div>
		<div id="calc4">
			<button type="button" name="button" id="btnone" value="1">1</button>
			<button type="button" name="button" id="btntwo" value="2">2</button>
			<button type="button" name="button" id="btnthree" value="3">3</button>
		</div>
	</body>
<html>